    <h1>This is body Content.</h1>
        <hr>
        <p>Privacy Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Architecto a tempore non reiciendis dicta amet dolore debitis 
            ipsum explicabo quaerat! Officia tempore laborum praesentium at 
            quas minus eum temporibus veniam.</p>

        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Architecto a tempore non reiciendis dicta amet dolore debitis 
            ipsum explicabo quaerat! Officia tempore laborum praesentium at 
            quas minus eum temporibus veniam. </p>
